.chats {
    display: flex;
    height: 100%;
}

.chats__list {
    position: relative;
}

.chats__button {
    position: absolute;
    right: 12px;
    bottom: 12px;
    z-index: var(--z-index-1);
}

.chats__window {
    flex-grow: 1;
}

.popup {
    position: fixed;
    inset: 0;
    z-index: var(--z-index-2);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000080;
}

.popup__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 600px;
    padding: 24px;
    background-color: var(--surface-color);
    border-radius: 16px;
}

.popup__text {
    text-align: center;
}

.popup__body {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.body__list {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow-y: auto;
}

.list__item {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 12px 16px;
    cursor: pointer;
    background-color: var(--surface-color);
    transition: background-color 0.3s;
}

.list__item_selected {
    background-color: var(--surface-hover-color);
}

.item__image-wrapper {
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    background-color: var(--element-color);
    border: 1px solid var(--background-color);
    border-radius: 50%;
    transition: border-color 0.3s;
}

.body__actions {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}