<div class="sidebar">
    <ui-title [title]="'Chat'" [size]="'medium'"></ui-title>

    <div class="sidebar__content">
        <div class="sidebar__list">
            @for(message of messages(); track message.id) {
            <div class="sidebar__item">
                <div class="item__person">
                    <span class="person__image-wrapper"></span>
                    <span class="person__name">{{ message.senderName }}</span>
                </div>

                <div class="item__message">{{ message.content }}</div>
            </div>
            }
        </div>

        <div class="sidebar__send">
            <ui-input
                class="send__input"
                [placeholder]="'Type your message...'"
                [(value)]="newMessageContent"
                [size]="'small'"
                [theme]="'primary'"
                [isFullWidth]="true"
                (keydown.enter)="sendMessage()"
            ></ui-input>

            <ui-button
                [label]="'Send'"
                [size]="'small'"
                [type]="'primary'"
                (click)="sendMessage()"
            ></ui-button>
        </div>
    </div>
</div>
