.sidebar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
    padding: 16px 24px 24px 32px;
}

.sidebar__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 12px;
    overflow: hidden;
}

.sidebar__list {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 20px;
    padding-right: 8px;
    padding-bottom: 8px;
    overflow-y: auto;
}

.sidebar__list::-webkit-scrollbar {
    width: 8px;
}

.sidebar__list::-webkit-scrollbar-thumb {
    background-color: var(--background-color);
    border-radius: 4px;
}

.sidebar__list::-webkit-scrollbar-track {
    background-color: transparent;
}

.sidebar__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.item__person {
    display: flex;
    gap: 12px;
    align-items: center;
    width: calc(100% - 12px);
}

.person__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--element-color);
    border: 2px solid transparent;
    border-radius: 50%;
    transition: border-color 0.3s;
}

.person__image {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.person__name {
    display: inline-block;
    width: calc(100% - 44px - 12px);
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-text-color);
    white-space: nowrap;
}

.item__message {
    padding: 12px;
    overflow-x: hidden;
    font-size: 14px;
    line-height: 1.5;
    color: var(--primary-text-color);
    background-color: var(--element-color);
    border-radius: 8px;
}

.sidebar__send {
    display: flex;
    flex-shrink: 0;
    gap: 12px;
}

.send__input {
    flex-grow: 1;
}
