.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: var(--topbar-height);
    padding: 8px;
    background-color: var(--background-color);
}

.topbar__logo {
    height: 100%;
    aspect-ratio: 3 / 1;
    overflow: hidden;
    background-color: var(--surface-color);
    border-radius: 8px;
}

.topbar__sidebar {
    display: none;
}

@media screen and (max-width: 575px) {
    .topbar__logo {
        display: none;
    }

    .topbar__sidebar {
        display: block;
    }

    .sidebar__expand {
        height: 100%;
        color: var(--secondary-color);
        cursor: pointer;
        background-color: var(--surface-color);
        border: none;
        border-radius: 16px;
        transition: background-color 0.3s;
    }

    .sidebar__expand:hover {
        background-color: var(--surface-hover-color);
    }

    .expand__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        aspect-ratio: 1;
        font-size: 20px;
    }
}

.logo__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.topbar__user {
    position: relative;
    display: flex;
    gap: 12px;
    align-items: center;
    padding-right: 4px;
    cursor: pointer;
}

.user__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1;
    background-color: var(--surface-color);
    border-radius: 50%;
}

.user__avatar {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.menu {
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    z-index: var(--z-index-1);
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: max-content;
    padding: 12px;
    cursor: default;
    background-color: var(--background-color);
    border: 2px solid var(--surface-color);
    border-radius: 12px;
}

.menu__item {
    display: flex;
    gap: 12px;
    align-items: center;
    min-width: 150px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.menu__item:hover {
    background-color: var(--surface-hover-color);
}

.menu__icon {
    width: 20px;
    font-size: 18px;
    color: var(--secondary-color);
}

.menu__text {
    font-size: 16px;
    color: var(--primary-text-color);
}

.popup {
    position: fixed;
    inset: 0;
    z-index: var(--z-index-2);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000080;
}

.popup__content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 600px;
    padding: 24px;
    background-color: var(--surface-color);
    border-radius: 16px;
}

.popup__text {
    text-align: center;
}

.popup__actions {
    display: flex;
    gap: 12px;
}

.popup__button {
    flex-grow: 1;
}
