.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: var(--topbar-height);
    padding: 8px;
    background-color: var(--background-color);
    border-radius: 16px;
}

.topbar__logo {
    height: 100%;
    aspect-ratio: 3 / 1;
    background-color: var(--surface-color);
    border-radius: 8px;
}

.topbar__user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1;
    background-color: var(--surface-color);
    border-radius: 50%;
}

.user__avatar {
    width: 80%;
    height: 80%;
    object-fit: cover;
}
