.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: var(--topbar-height);
    padding: 8px;
    background-color: var(--background-color);
    border-radius: 16px;
}

.topbar__logo {
    height: 100%;
    aspect-ratio: 3 / 1;
    background-color: var(--surface-color);
    border-radius: 8px;
}

.topbar__user {
    height: 100%;
    aspect-ratio: 1;
    background-color: var(--surface-color);
    border-radius: 50%;
}
