.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.button:not(.button_disabled) {
    cursor: pointer;
}

.button_size_small {
    gap: 6px;
    height: 36px;
    padding: 11px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 18px;
}

.button_size_large {
    gap: 10px;
    height: 44px;
    padding: 13px 32px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 22px;
}

@media screen and (max-width: 767px) {
    .button_size_small {
        gap: 4px;
        height: 32px;
        padding: 9px 12px;
        font-size: 14px;
    }

    .button_size_large {
        gap: 8px;
        height: 40px;
        padding: 11px 28px;
        font-size: 18px;
    }
}

.button_width_full {
    width: 100%;
}

.button_with_icon:not(.button_with_label) {
    aspect-ratio: 1;
    border-radius: 50%;
}

.button_size_small.button_with_icon:not(.button_with_label) {
    padding: 11px;
}

.button_size_large.button_with_icon:not(.button_with_label) {
    padding: 13px;
}

@media screen and (max-width: 767px) {
    .button_size_small.button_with_icon:not(.button_with_label) {
        padding: 9px;
    }

    .button_size_large.button_with_icon:not(.button_with_label) {
        padding: 11px;
    }
}

.button_theme_primary {
    color: var(--primary-text-color);
    background-color: var(--primary-color);
}

.button_theme_primary:not(:disabled):hover {
    background-color: var(--primary-hover-color);
}

.button_theme_primary-line {
    color: var(--primary-text-color);
    border: 2px solid var(--primary-color);
}

.button_theme_primary-line:not(:disabled):hover {
    border-color: var(--primary-hover-color);
}

.button_disabled {
    color: var(--disabled-text-color);
    background-color: var(--disabled-color);
}