:host {
    min-width: 0;
    min-height: 0;
}

.participant {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--surface-color);
    border-radius: 8px;
}

.participant_moved {
    margin-left: 50%;
}

.participant__video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: initial;
}

.participant__image-wrapper {
    width: min(100%, 500px);
    height: auto;
    max-height: 500px;
    aspect-ratio: 1 / 1;
    margin: 16px;
    background-color: var(--element-color);
    border-radius: 50%;
}

.participant__name {
    position: absolute;
    bottom: 8px;
    left: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px 16px;
    font-size: 16px;
    color: var(--primary-text-color);
    background-color: #00000090;
    border-radius: 6px;
}

.name__icon {
    width: 16px;
    margin-bottom: 2px;
    font-size: 14px;
}

.participant__hand {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    font-size: 32px;
    color: var(--primary-color);
    background-color: #00000090;
    border-radius: 6px;
}
