:host {
    min-width: 0;
    min-height: 0;
}

.participant {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--surface-color);
    border-radius: 8px;
}

.participant_moved {
    margin-left: 50%;
}

.participant__video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: initial;
}

.participant__name {
    position: absolute;
    bottom: 8px;
    left: 8px;
    padding: 8px 16px;
    font-size: 16px;
    color: var(--primary-text-color);
    background-color: #00000050;
    border-radius: 6px;
}
