:host {
    width: calc((100% - 16px * (var(--columns) - 1)) / var(--columns));
    height: calc((100% - 16px * (var(--rows) - 1)) / var(--rows));
}

.participant {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    background-color: var(--surface-color);
    border-radius: 8px;
}

.participant__video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: initial;
}

.participant__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--element-color);
    border-radius: 50%;
}

.participant__image {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.participant__name {
    position: absolute;
    bottom: 8px;
    left: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px 16px;
    font-size: 16px;
    color: var(--primary-text-color);
    background-color: #00000090;
    border-radius: 6px;
}

@media screen and (max-width: 575px) {
    .participant__name {
        gap: 4px;
        padding: 6px;
        font-size: 14px;
    }
}

.name__icon {
    width: 16px;
    margin-bottom: 2px;
    font-size: 14px;
}

@media screen and (max-width: 575px) {
    .name__icon {
        width: 14px;
        font-size: 12px;
    }
}

.participant__hand {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    font-size: 32px;
    color: var(--primary-color);
    background-color: #00000090;
    border-radius: 6px;
}

@media screen and (max-width: 575px) {
    .participant__hand {
        width: 56px;
        height: 56px;
        font-size: 24px;
    }
}