<div
    class="participant"
    [ngClass]="{'participant_moved': participant().isMoved}"
>
    @if (participant().isVideoEnabled) {
    <video
        class="participant__video"
        [srcObject]="participant().videoStream"
        autoplay
        playsinline
        muted
    ></video>
    } @if (!participant().isLocal && participant().isAudioEnabled) {
    <audio [srcObject]="participant().audioStream" autoplay></audio>
    }

    <span class="participant__name">{{ participant().name }}</span>
</div>
