.conference__main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    width: 100%;
    height: 100dvh;
    padding: 16px;
    overflow: hidden;
}

@media screen and (max-width: 575px) {
    .conference__main {
        gap: 16px;
    }
}

.conference__view {
    position: relative;
    display: flex;
    flex-grow: 1;
    gap: 24px;
    width: 100%;
    min-height: 0;
}

.conference__peers {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 24px;
    height: 100%;
}

@media screen and (max-width: 575px) {
    .conference__peers {
        gap: 16px;
    }
}

:root {
    --columns: 1;
    --rows: 1;
}

.conference__pinned {
    flex-shrink: 0;
    width: 100%;
    height: calc(100% - calc(var(--rows) * 150px) - 16px);
}

.conference__participants {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.conference__pinned + .conference__participants {
    height: calc(var(--rows) * 150px);
}

.conference__controls {
    display: flex;
    flex-shrink: 0;
    gap: 16px;
    width: fit-content;
    height: calc(var(--controls-item-height) + 12px * 2);
    padding: 12px 24px;
    background-color: var(--surface-color);
    border-radius: 16px;
}

@media screen and (max-width: 767px) {
    .conference__controls {
        gap: 8px;
        height: calc(var(--controls-item-height) + 8px * 2);
        padding: 8px 12px;
    }
}

.conference__sidebar {
    flex-shrink: 0;
    width: 400px;
    background-color: var(--surface-color);
    border-radius: 8px;
}

@media screen and (max-width: 991px) {
    .conference__sidebar {
        width: 300px;
    }
}

@media screen and (max-width: 767px) {
    .conference__sidebar {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.menu {
    position: absolute;
    right: 50%;
    bottom: calc(var(--controls-item-height) + 16px + 8px * 2 + 8px);
    z-index: var(--z-index-1);
    display: flex;
    gap: 8px;
    width: max-content;
    padding: 12px;
    cursor: default;
    background-color: var(--background-color);
    border: 2px solid var(--surface-color);
    border-radius: 12px;
    translate: 50%;
}

.menu__item {
    display: flex;
    gap: 12px;
    align-items: center;
    min-width: 150px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.menu__item:hover {
    background-color: var(--surface-hover-color);
}

.menu__icon {
    width: 20px;
    font-size: 18px;
    color: var(--secondary-color);
}

.menu__text {
    font-size: 16px;
    color: var(--primary-text-color);
}

.popup {
    position: fixed;
    inset: 0;
    z-index: var(--z-index-2);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000080;
}

.popup__content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 600px;
    padding: 24px;
    margin: 16px;
    background-color: var(--surface-color);
    border-radius: 16px;
}

.popup__text {
    text-align: center;
}

.popup__actions {
    display: flex;
    gap: 12px;
}

.popup__button {
    flex-grow: 1;
}
