.conference__main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    width: 100%;
    height: 100dvh;
    padding: 16px;
    overflow: hidden;
}

.conference__view {
    display: flex;
    flex-grow: 1;
    gap: 24px;
    width: 100%;
    min-height: 0;
}

.conference__participants {
    display: grid;
    flex-grow: 1;
    gap: 16px;
    height: 100%;
}

.conference__controls {
    display: flex;
    flex-shrink: 0;
    gap: 16px;
    width: fit-content;
    height: calc(var(--controls-item-height) + 12px * 2);
    padding: 12px 24px;
    background-color: var(--surface-color);
    border-radius: 16px;
}

.conference__sidebar {
    flex-shrink: 0;
    width: 400px;
    background-color: var(--surface-color);
    border-radius: 8px;
}
