.conference__main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    width: 100%;
    height: 100dvh;
    padding: 16px;
    overflow: hidden;
}

.conference__view {
    display: flex;
    flex-grow: 1;
    gap: 24px;
    width: 100%;
    min-height: 0;
}

.conference__peers {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 24px;
    height: 100%;
}

:root {
    --columns: 1;
    --rows: 1;
}

.conference__pinned {
    flex-shrink: 0;
    width: 100%;
    height: calc(100% - calc(var(--rows) * 150px) - 16px);
}

.conference__participants {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.conference__pinned + .conference__participants {
    height: calc(var(--rows) * 150px);
}

.conference__controls {
    display: flex;
    flex-shrink: 0;
    gap: 16px;
    width: fit-content;
    height: calc(var(--controls-item-height) + 12px * 2);
    padding: 12px 24px;
    background-color: var(--surface-color);
    border-radius: 16px;
}

.conference__sidebar {
    flex-shrink: 0;
    width: 400px;
    background-color: var(--surface-color);
    border-radius: 8px;
}

.popup {
    position: fixed;
    inset: 0;
    z-index: var(--z-index-2);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000080;
}

.popup__content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 600px;
    padding: 24px;
    background-color: var(--surface-color);
    border-radius: 16px;
}

.popup__text {
    text-align: center;
}

.popup__actions {
    display: flex;
    gap: 12px;
}

.popup__button {
    flex-grow: 1;
}
