.workspace {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.workspace__layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.workspace__main {
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    margin: 0 8px 8px 0;
    overflow: auto;
    background-color: var(--surface-color);
    border-radius: 16px;
}

@media screen and (max-width: 991px) {
    .workspace__main {
        margin-left: var(--sidebar-width);
    }
}

@media screen and (max-width: 575px) {
    .workspace__main {
        width: calc(100% - 16px);
        margin-left: 8px;
    }
}
