<div class="meetings container">
    <ui-title [title]="'Meet'" [size]="'large'"></ui-title>

    <div class="meetings__joining">
        <ui-button
            [label]="'Create Meeting'"
            [icon]="'fa-solid fa-plus'"
            [size]="'large'"
            [type]="'primary'"
            (click)="createMeeting()"
        ></ui-button>

        <span class="joining__text">or</span>

        <ui-input
            [placeholder]="'Enter the meeting code...'"
            [size]="'large'"
            [theme]="'primary'"
            [(value)]="meetingCodeValue"
            (keyup.enter)="joinMeeting()"
        ></ui-input>

        <ui-button
            [label]="'Join'"
            [size]="'large'"
            [type]="'primary'"
            (click)="joinMeeting()"
        ></ui-button>
    </div>

    @if (isRecentMeetingsVisible()) {
    <div class="meetings__recent">
        <ui-title [title]="'Recent Meetings'" [size]="'medium'"></ui-title>

        <div class="meetings__list">
            @for(meeting of recentVisibleMeetings(); track meeting.id) {
            <app-meetings-item
                class="list__item"
                [name]="meeting.name"
                [code]="meeting.code"
                [lastTimeJoined]="meeting.lastTimeJoined"
            ></app-meetings-item>
            }
        </div>
    </div>
    } @if (isOwnedMeetingsVisible()) {
    <div class="meetings__owned">
        <ui-title [title]="'Owned Meetings'" [size]="'medium'"></ui-title>

        <div class="meetings__list">
            @for(meeting of ownedVisibleMeetings(); track meeting.id) {
            <app-meetings-item
                class="list__item"
                [name]="meeting.title"
                [code]="meeting.code"
                [scheduleDate]="meeting.startTime"
                [isStarted]="meeting.isStarted"
            ></app-meetings-item>
            }
        </div>
    </div>
    }
</div>
