.meetings {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.meetings__joining {
    display: flex;
    gap: 16px;
    align-items: center;
}

.joining__text {
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-text-color);
}

.meetings__recent,
.meetings__owned {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.meetings__list {
    display: flex;
    gap: 24px;
}

.list__item {
    flex-basis: calc(33% - 16px * 2 / 3);
}
