<div class="meetings container">
    <ui-title [title]="'Meet'" [size]="'large'"></ui-title>

    <div class="meetings__joining">
        <ui-button
            class="joining__create"
            [label]="'Create Meeting'"
            [icon]="'fa-solid fa-plus'"
            [size]="'large'"
            [type]="'primary'"
            [isFullWidth]="sizeService.width() < 767"
            (click)="createMeeting()"
        ></ui-button>

        <span class="joining__text">or</span>

        <div class="joining__join">
            <ui-input
                class="join__input"
                [placeholder]="sizeService.width() < 575 ? 'Code' : 'Enter the meeting code...'"
                [(value)]="meetingCodeValue"
                [size]="'large'"
                [theme]="'primary'"
                [isFullWidth]="sizeService.width() < 767"
                (keyup.enter)="joinMeeting()"
            ></ui-input>

            <ui-button
                [label]="'Join'"
                [size]="'large'"
                [type]="'primary'"
                (click)="joinMeeting()"
            ></ui-button>
        </div>
    </div>

    @if (isRecentMeetingsVisible()) {
    <div class="meetings__recent">
        <ui-title [title]="'Recent Meetings'" [size]="'medium'"></ui-title>

        <div class="meetings__list">
            @for(meeting of recentVisibleMeetings(); track meeting.id) {
            <app-meetings-item
                class="list__item"
                [name]="meeting.name"
                [code]="meeting.code"
                [lastTimeJoined]="meeting.lastTimeJoined"
            ></app-meetings-item>
            }
        </div>
    </div>
    } @if (isOwnedMeetingsVisible()) {
    <div class="meetings__owned">
        <ui-title [title]="'Owned Meetings'" [size]="'medium'"></ui-title>

        <div class="meetings__list">
            @for(meeting of ownedVisibleMeetings(); track meeting.id) {
            <app-meetings-item
                class="list__item"
                [name]="meeting.title"
                [code]="meeting.code"
                [scheduleDate]="meeting.startTime"
                [isStarted]="meeting.isStarted"
            ></app-meetings-item>
            }
        </div>
    </div>
    }
</div>
