.input {
    outline: none;
    background-color: transparent;
    border: none;
    transition: border-color 0.3s;
}

.input_size_small {
    height: 36px;
    padding: 11px 16px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 18px;
}

.input_size_large {
    height: 44px;
    padding: 13px 24px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 22px;
}

@media screen and (max-width: 767px) {
    .input_size_small {
        height: 32px;
        padding: 9px 12px;
        font-size: 14px;
    }

    .input_size_large {
        height: 40px;
        padding: 11px 20px;
        font-size: 18px;
    }
}

.input_width_full {
    width: 100%;
}

.input_theme_primary {
    color: var(--primary-text-color);
    border: 2px solid var(--primary-color);
}

.input_theme_primary::placeholder {
    color: var(--secondary-color);
}

.input_theme_primary:not(.input_invalid):hover {
    border-color: var(--primary-hover-color);
}

.input_invalid {
    color: var(--error-color);
    border-color: var(--error-color);
}