<div class="sidebar">
    <ui-title [title]="'Participants'" [size]="'medium'"></ui-title>

    <div class="sidebar__list">
        @for(participant of visibleParticipants(); track participant.id) {
        <div class="sidebar__item">
            <div
                class="item__info"
                [ngClass]="{'item__info_expanded': participant.id === 'local'}"
            >
                <span
                    [ngClass]="{'item__image-wrapper_bordered': participant.isHandUp}"
                    class="item__image-wrapper"
                >
                    <img
                        src="/user.svg"
                        alt="Participant Avatar"
                        class="item__image"
                    />
                </span>

                @if (participant.id === "local") {
                <span class="item__name">(You) {{ participant.name }}</span>
                } @else {
                <span class="item__name">{{ participant.name }}</span>
                }
            </div>

            <div class="item__actions">
                <span class="item__icon">
                    @if (participant.isAudioEnabled) {
                    <i class="fa-solid fa-microphone"></i>
                    } @else {
                    <i class="fa-solid fa-microphone-slash"></i>
                    }
                </span>

                <span class="item__icon">
                    @if (participant.isVideoEnabled) {
                    <i class="fa-solid fa-video"></i>
                    } @else {
                    <i class="fa-solid fa-video-slash"></i>
                    }
                </span>

                @if (participant.id !== "local" && isMeetingOwner()) {
                <span
                    class="item__icon item__icon_clickable"
                    (click)="openParticipantMenu(participant)"
                >
                    <i class="fa-solid fa-ellipsis-h"></i>

                    @if (isParticipantMenuOpened(participant)) {
                    <div class="menu" #menu (click)="stopPropagation($event)">
                        @if (participant.isAudioEnabled) {
                        <div
                            class="menu__item"
                            (click)="muteParticipant(participant)"
                        >
                            <i
                                class="fa-solid fa-microphone-slash menu__icon"
                            ></i>
                            <span class="menu__text">Mute</span>
                        </div>
                        } @else {
                        <div
                            class="menu__item"
                            (click)="unmuteParticipant(participant)"
                        >
                            <i class="fa-solid fa-microphone menu__icon"></i>
                            <span class="menu__text">Ask to Unmute</span>
                        </div>
                        } @if (participant.isVideoEnabled) {
                        <div
                            class="menu__item"
                            (click)="disableVideoParticipant(participant)"
                        >
                            <i class="fa-solid fa-video-slash menu__icon"></i>
                            <span class="menu__text">Stop Video</span>
                        </div>
                        } @else {
                        <div
                            class="menu__item"
                            (click)="enableVideoParticipant(participant)"
                        >
                            <i class="fa-solid fa-video menu__icon"></i>
                            <span class="menu__text">Ask to Start Video</span>
                        </div>
                        }

                        <div
                            class="menu__item"
                            (click)="kickParticipant(participant)"
                        >
                            <i class="fa-solid fa-user-slash menu__icon"></i>
                            <span class="menu__text">Remove Participant</span>
                        </div>

                        @if (participant.userId) {
                        <div
                            class="menu__item"
                            (click)="giveOwnership(participant)"
                        >
                            <i class="fa-solid fa-crown menu__icon"></i>
                            <span class="menu__text">Give Ownership</span>
                        </div>
                        }
                    </div>
                    }
                </span>
                }
            </div>
        </div>
        }
    </div>
</div>
