.sidebar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 24px 24px 32px;
}

.sidebar__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-right: 8px;
    padding-bottom: 8px;
    overflow-y: auto;
}

.sidebar__list::-webkit-scrollbar {
    width: 8px;
}

.sidebar__list::-webkit-scrollbar-thumb {
    background-color: var(--background-color);
    border-radius: 4px;
}

.sidebar__list::-webkit-scrollbar-track {
    background-color: transparent;
}

.sidebar__item {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
}

.item__info {
    display: flex;
    gap: 12px;
    align-items: center;
    width: calc(100% - 60px - 12px);
}

.item__image-wrapper {
    width: 44px;
    height: 44px;
    background-color: var(--element-color);
    border: 2px solid transparent;
    border-radius: 50%;
    transition: border-color 0.3s;
}

.item__image-wrapper_bordered {
    border: 2px solid var(--primary-color);
}

.item__name {
    display: inline-block;
    width: calc(100% - 40px - 12px);
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-text-color);
    white-space: nowrap;
}

.item__actions {
    display: flex;
    gap: 12px;
}

.item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 18px;
    color: var(--secondary-color);
}
