.sidebar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
    padding: 16px 24px 24px 32px;
}

@media screen and (max-width: 991px) {
    .sidebar {
        gap: 12px;
        padding: 12px 16px 16px;
    }
}

.sidebar__list {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 12px;
    padding-right: 8px;
    padding-bottom: 8px;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar__list::-webkit-scrollbar {
    width: 8px;
}

.sidebar__list::-webkit-scrollbar-thumb {
    background-color: var(--background-color);
    border-radius: 4px;
}

.sidebar__list::-webkit-scrollbar-track {
    background-color: transparent;
}

.sidebar__item {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
}

.item__info {
    display: flex;
    gap: 12px;
    align-items: center;
    width: calc(100% - 96px - 12px);
}

@media screen and (max-width: 575px) {
    .item__info {
        gap: 8px;
        width: calc(100% - 76px - 12px);
    }
}

.item__info_expanded {
    width: calc(100% - 60px - 12px);
}

@media screen and (max-width: 575px) {
    .item__info_expanded {
        width: calc(100% - 48px - 12px);
    }
}

.item__image-wrapper {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--element-color);
    border: 2px solid transparent;
    border-radius: 50%;
    transition: border-color 0.3s;
}

@media screen and (max-width: 575px) {
    .item__image-wrapper {
        width: 36px;
        height: 36px;
    }
}

.item__image-wrapper_bordered {
    border: 2px solid var(--primary-color);
}

.item__image {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.item__name {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-text-color);
    white-space: nowrap;
}

.item__actions {
    display: flex;
    gap: 12px;
}

@media screen and (max-width: 575px) {
    .item__actions {
        gap: 8px;
    }
}

.item__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 18px;
    color: var(--secondary-color);
}

@media screen and (max-width: 575px) {
    .item__icon {
        width: 20px;
        height: 20px;
        font-size: 16px;
    }
}

.item__icon_clickable {
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: var(--z-index-1);
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: max-content;
    padding: 12px;
    background-color: var(--background-color);
    border-radius: 12px;
}

.menu__item {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.menu__item:hover {
    background-color: var(--surface-hover-color);
}

.menu__icon {
    width: 20px;
    font-size: 18px;
    color: var(--secondary-color);
}

.menu__text {
    font-size: 16px;
    color: var(--primary-text-color);
}
