.title {
    line-height: 1.5;
    color: var(--primary-text-color);
}

.title_size_small {
    font-size: 24px;
    font-weight: 500;
}

.title_size_medium {
    font-size: 32px;
    font-weight: 600;
}

.title_size_large {
    font-size: 48px;
    font-weight: 800;
}

@media screen and (max-width: 767px) {
    .title_size_small {
        font-size: 20px;
    }

    .title_size_medium {
        font-size: 24px;
    }

    .title_size_large {
        font-size: 36px;
    }
}