.list {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    background-color: var(--background-color);
    border-right: 4px solid var(--background-color);
}

@media screen and (max-width: 991px) {
    .list {
        width: 240px;
    }
}

@media screen and (max-width: 767px) {
    .list {
        width: 100%;
        background-color: var(--surface-color);
        border-right: 0;
    }
}

.list__item {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 12px 16px;
    cursor: pointer;
    background-color: var(--surface-color);
    transition: background-color 0.3s;
}

.list__item:hover {
    background-color: var(--surface-hover-color);
}

@media screen and (max-width: 767px) {
    .list__item {
        border-bottom: 3px solid var(--background-color);
    }
}

.list__item_selected {
    background-color: var(--surface-hover-color);
}

.item__image-wrapper {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--element-color);
    border: 1px solid var(--background-color);
    border-radius: 50%;
    transition: border-color 0.3s;
}

@media screen and (max-width: 767px) and (min-width: 576px) {
    .item__image-wrapper {
        width: 52px;
        height: 52px;
    }
}

.item__image {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.item__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: calc(100% - 52px);
}

@media screen and (max-width: 767px) and (min-width: 576px) {
    .item__image-item__info {
        width: calc(100% - 60px);
    }
}

.info__name {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-text-color);
    white-space: nowrap;
}

@media screen and (max-width: 767px) and (min-width: 576px) {
    .info__name {
        font-size: 18px;
    }
}

.info__message {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: var(--secondary-color);
    white-space: nowrap;
}

@media screen and (max-width: 767px) and (min-width: 576px) {
    .info__message {
        font-size: 16px;
    }
}

.chats__no-chats {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 16px;
    font-size: 20px;
    text-align: center;
}
