<div class="list">
    @if (isAnyChatAvailable()) { @for (chat of chats(); track chat.user.id) {
    <div
        [ngClass]="{ 'list__item_selected': selectedChatUserId() === chat.user.id }"
        class="list__item"
        (click)="selectChat(chat.user.id)"
    >
        <div class="item__image-wrapper">
            <img src="/user.svg" alt="User Avatar" class="item__image" />
        </div>

        <div class="item__info">
            <span class="info__name">
                {{ chat.user.name }} {{ chat.user.surname }}
            </span>

            <span class="info__message">{{ chat.content }}</span>
        </div>
    </div>
    } } @else {
    <div class="chats__no-chats">
        No chats available.<br />
        Start a new chat by clicking the + button.
    </div>
    }
</div>
