.list {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    background-color: var(--background-color);
    border-right: 4px solid var(--background-color);
}

.list__item {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 12px 16px;
    cursor: pointer;
    background-color: var(--surface-color);
    transition: background-color 0.3s;
}

.list__item:hover {
    background-color: var(--surface-hover-color);
}

.list__item_selected {
    background-color: var(--surface-hover-color);
}

.item__image-wrapper {
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    background-color: var(--element-color);
    border: 1px solid var(--background-color);
    border-radius: 50%;
    transition: border-color 0.3s;
}

.item__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: calc(100% - 52px);
}

.info__name {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-text-color);
    white-space: nowrap;
}

.info__message {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: var(--secondary-color);
    white-space: nowrap;
}
