.room {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100dvh;
}

.room__card {
    display: flex;
    gap: 32px;
    padding: 32px;
    background-color: var(--surface-color);
    border-radius: 24px;
}

.room__options {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
}

.room__video {
    width: 550px;
    aspect-ratio: 16 / 9;
    padding: 16px;
    overflow: hidden;
    background-color: var(--element-color);
    border-radius: 16px;
}

.video__element {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: inset 0 0 10px #00000050;
}

.room__controls {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.room__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 400px;
}

.room__name {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.room__title {
    text-align: center;
}

.room__devices {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 12px;
}

.room__buttons {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}
