<div class="room container">
    <div class="room__card">
        <div class="room__options">
            <div class="room__video">
                @if (isVideoEnabled()) {
                <video
                    class="video__element"
                    [srcObject]="localVideoStream()"
                    autoplay
                    playsinline
                    muted
                ></video>
                }
            </div>

            <div class="room__controls">
                <app-conference-controls-item
                    [item]="audioControlItem()"
                    (click)="toggleAudio()"
                ></app-conference-controls-item>

                <app-conference-controls-item
                    [item]="videoControlItem()"
                    (click)="toggleVideo()"
                ></app-conference-controls-item>
            </div>
        </div>

        <div class="room__info">
            @if (!isAuthorized()) {
            <div class="room__name">
                <ui-input
                    [placeholder]="'Input Your Name...'"
                    [size]="'large'"
                    [theme]="'primary'"
                    [isFullWidth]="true"
                    [(value)]="name"
                ></ui-input>

                <ui-button
                    [label]="'Log in'"
                    [icon]="'fa-solid fa-right-to-bracket'"
                    [size]="'large'"
                    [type]="'primary'"
                    [isFullWidth]="true"
                    [routerLink]="['/auth', 'login']"
                    [queryParams]="{ redirect: '/conference/' + meetingCode()}"
                ></ui-button>
            </div>
            } @else {
            <ui-title
                class="room__title"
                [title]="name()"
                [size]="'medium'"
            ></ui-title>
            }

            <div class="room__devices">
                <div class="device__item">
                    <ui-select
                        [label]="'Camera'"
                        [value]="selectedVideoDeviceId()"
                        (valueChange)="changeVideoDevice($event)"
                        [size]="'small'"
                        [theme]="'primary'"
                        [isFullWidth]="true"
                    >
                        @for(device of availableVideoDevices(); track
                        device.deviceId) {
                        <option [value]="device.deviceId">
                            {{ device.label | deviceLabel }}
                        </option>
                        }
                    </ui-select>
                </div>

                <div class="device__item">
                    <ui-select
                        [label]="'Microphone'"
                        [value]="selectedAudioDeviceId()"
                        (valueChange)="changeAudioDevice($event)"
                        [size]="'small'"
                        [theme]="'primary'"
                        [isFullWidth]="true"
                    >
                        @for(device of availableAudioDevices(); track
                        device.deviceId) {
                        <option [value]="device.deviceId">
                            {{ device.label | deviceLabel }}
                        </option>
                        }
                    </ui-select>
                </div>
            </div>

            @if (!isJoining()) {
            <div class="room__buttons">
                <ui-button
                    [label]="'Cancel'"
                    [size]="'small'"
                    [type]="'primary-line'"
                    (click)="cancelJoining()"
                ></ui-button>

                <ui-button
                    [label]="'Join meeting'"
                    [size]="'small'"
                    [type]="'primary'"
                    [isDisabled]="isClickToJoinDisabled()"
                    (click)="joinConference()"
                ></ui-button>
            </div>
            } @else {
            <div class="room__loader-wrapper">
                <div class="room__loader"></div>

                @if (hasHostJoined()) {
                <ui-title
                    [title]="'Request to join has been sent...'"
                    [size]="'small'"
                ></ui-title>
                } @else {
                <ui-title
                    [title]="'Waiting for the host to join...'"
                    [size]="'small'"
                ></ui-title>
                }
            </div>
            }
        </div>
    </div>
</div>
