.room {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100dvh;
}

.room__card {
    display: flex;
    gap: 32px;
    width: calc(100% - 32px);
    max-width: 1078px;
    padding: 32px;
    margin: 16px;
    background-color: var(--surface-color);
    border-radius: 24px;
}

@media screen and (max-width: 991px) {
    .room__card {
        gap: 16px;
        padding: 32px 16px;
    }
}

@media screen and (max-width: 767px) {
    .room__card {
        flex-direction: column;
        align-items: center;
    }
}

.room__options {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
}

@media screen and (max-width: 991px) {
    .room__options {
        padding: 0;
    }
}

@media screen and (max-width: 767px) {
    .room__options {
        width: 100%;
    }
}

.room__video {
    width: 550px;
    aspect-ratio: 16 / 9;
    padding: 16px;
    overflow: hidden;
    background-color: var(--element-color);
    border-radius: 16px;
}

@media screen and (max-width: 991px) {
    .room__video {
        width: 100%;
        padding: 8px;
    }
}

.video__element {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: inset 0 0 10px #00000050;
}

.room__controls {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.room__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 400px;
}

@media screen and (max-width: 991px) {
    .room__info {
        flex-shrink: 0;
        width: 300px;
    }
}

@media screen and (max-width: 767px) {
    .room__info {
        width: 100%;
    }
}

.room__name {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.room__title {
    text-align: center;
}

.room__devices {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 12px;
}

.room__buttons {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}

.room__loader-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    height: 120px;
}

.room__loader {
    width: 52px;
    aspect-ratio: 1;
    border: 6px solid var(--primary-color);
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
