.meetings {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.meetings__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.meetings__date {
    display: flex;
    gap: 12px;
    overflow: hidden;
}

@media screen and (max-width: 575px) {
    .meetings__date {
        flex-direction: column;
        gap: 8px;
    }
}

.date__input {
    width: calc(100% / 5 - 12px * 4 / 5);
}

@media screen and (max-width: 575px) {
    .date__input {
        width: 100%;
    }
}
