<div class="meetings container">
    <ui-title [title]="'Create Meeting'" [size]="'large'"></ui-title>

    <form class="meetings__form">
        <ui-input
            [(value)]="meetingName"
            [placeholder]="'Meeting Name'"
            [size]="'large'"
            [isFullWidth]="true"
            [theme]="'primary'"
        ></ui-input>

        <ui-checkbox
            [(value)]="isGuestAllowed"
            [label]="'Allow Guest Access'"
        ></ui-checkbox>

        <ui-checkbox
            [(value)]="isWaitingRoom"
            [label]="'Enable Waiting Room'"
        ></ui-checkbox>

        <ui-checkbox
            [(value)]="isScreenSharing"
            [label]="'Allow Participants to Share Screen'"
        ></ui-checkbox>

        <ui-checkbox
            [(value)]="isPlanned"
            [label]="'Schedule meeting'"
        ></ui-checkbox>

        @if (isPlanned()) {
        <div class="meetings__date">
            <ui-input
                class="date__input"
                [(value)]="scheduledDay"
                [placeholder]="'Day'"
                [size]="'large'"
                [theme]="'primary'"
                [isValid]="isFieldValid('day') && isAllFieldsValid()"
            >
            </ui-input>

            <ui-input
                class="date__input"
                [(value)]="scheduledMonth"
                [placeholder]="'Month'"
                [size]="'large'"
                [theme]="'primary'"
                [isValid]="isFieldValid('month') && isAllFieldsValid()"
            >
            </ui-input>

            <ui-input
                class="date__input"
                [(value)]="scheduledYear"
                [placeholder]="'Year'"
                [size]="'large'"
                [theme]="'primary'"
                [isValid]="isFieldValid('year') && isAllFieldsValid()"
            >
            </ui-input>

            <ui-input
                class="date__input"
                [(value)]="scheduledHour"
                [placeholder]="'Hour'"
                [size]="'large'"
                [theme]="'primary'"
                [isValid]="isFieldValid('hour') && isAllFieldsValid()"
            >
            </ui-input>

            <ui-input
                class="date__input"
                [(value)]="scheduledMinute"
                [placeholder]="'Minute'"
                [size]="'large'"
                [theme]="'primary'"
                [isValid]="isFieldValid('minute')  && isAllFieldsValid()"
            >
            </ui-input>
        </div>
        }

        <ui-button
            [label]="submitButtonText()"
            [icon]="'fa-solid fa-arrow-right'"
            [size]="'large'"
            [isFullWidth]="true"
            [type]="'primary'"
            (click)="createMeeting()"
        ></ui-button>
    </form>
</div>
