@if (item().type == "audio") {
<button class="control__button" (click)="toggleAudio()">
    @if (item().isEnabled) {
    <i class="control__icon fa-solid fa-microphone"></i>
    } @else {
    <i class="control__icon fa-solid fa-microphone-slash"></i>
    }
</button>
} @else if (item().type == "video") {
<button class="control__button" (click)="toggleVideo()">
    @if (item().isEnabled) {
    <i class="control__icon fa-solid fa-video"></i>
    } @else {
    <i class="control__icon fa-solid fa-video-slash"></i>
    }
</button>
} @else if (item().type == "screen") {
<button class="control__button" (click)="toggleScreenShare()">
    @if (item().isEnabled) {
    <i class="control__icon fa-solid fa-desktop"></i>
    } @else {
    <i class="control__icon fa-solid fa-ban"></i>
    }
</button>
} @else if (item().type == "participants") {
<button class="control__button">
    <i class="control__icon fa-solid fa-users"></i>
</button>
} @else if (item().type == "chat") {
<button class="control__button">
    <i class="control__icon fa-solid fa-comment"></i>
</button>
} @else if (item().type == "hand") {
<button class="control__button">
    <i class="control__icon fa-solid fa-hand-paper"></i>
</button>
} @else if (item().type == "other") {
<button class="control__button">
    <i class="control__icon fa-solid fa-ellipsis-h"></i>
</button>
} @else if (item().type == "leave") {
<button class="control__button">
    <i class="control__icon fa-solid fa-sign-out-alt"></i>
</button>
}
