.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 84px;
}

.layout__header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--surface-color);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 84px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.header__logo {
    height: 48px;
    aspect-ratio: 3 / 1;
    overflow: hidden;
    background-color: var(--element-color);
    border-radius: 8px;
}

.logo__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.layout__user {
    display: flex;
    gap: 12px;
    align-items: center;
}

.user__name {
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-text-color);
}

.user__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    overflow: hidden;
    background-color: var(--element-color);
    border-radius: 50%;
}

.user__image {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.layout__buttons {
    display: flex;
    gap: 8px;
}

.layout__content {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.content__container {
    display: flex;
    height: 700px;
}

.content__image {
    width: 700px;
    height: 100%;
    object-fit: contain;
}

.content__info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.info__main {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

:host ::ng-deep .main__title .title {
    line-height: 1.2;
}

.info__join {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.join__options {
    display: flex;
    gap: 16px;
}
