<div class="layout">
    <div class="layout__header">
        <div class="header__container container">
            <span class="header__logo">
                <img src="/logo.svg" alt="PolyVideo Logo" class="logo__image" />
            </span>

            @if (isUserAuthorized()) {
            <div class="layout__user">
                <span class="user__name">{{ userName() }}</span>

                <span class="user__image-wrapper">
                    <img
                        src="/user.svg"
                        alt="User Avatar"
                        class="user__image"
                    />
                </span>
            </div>
            } @else {
            <div class="layout__buttons">
                <ui-button
                    [label]="'Log in'"
                    [size]="'small'"
                    [type]="'primary-line'"
                    [routerLink]="['/auth', 'login']"
                ></ui-button>

                <ui-button
                    [label]="'Sign up'"
                    [size]="'small'"
                    [type]="'primary'"
                    [routerLink]="['/auth', 'signup']"
                ></ui-button>
            </div>
            }
        </div>
    </div>

    <div class="layout__content">
        <div class="content__container container">
            <div class="content__info">
                <div class="info__main">
                    <div class="main__text">
                        <ui-title
                            class="main__title"
                            [title]="'Platform for organizing video conferences'"
                            [size]="'large'"
                        ></ui-title>

                        <ui-button
                            [label]="'Try it now'"
                            [icon]="'fa-solid fa-circle-play'"
                            [size]="'large'"
                            [type]="'primary'"
                            [routerLink]="['/workspace']"
                            [isFullWidth]="sizeService.width() <= 767"
                        ></ui-button>
                    </div>

                    <div class="main__image-wrapper">
                        <img
                            src="/main_image.png"
                            alt="PolyVideo Image"
                            class="main__image"
                        />
                    </div>
                </div>

                <div class="info__join">
                    <ui-title
                        [title]="'Join a conference as a guest.'"
                        [size]="'small'"
                    ></ui-title>

                    <div class="join__options">
                        <ui-input
                            class="options__input"
                            [placeholder]="sizeService.width() <= 575 ? 'Conference code' : 'Enter conference code'"
                            [(value)]="meetingCodeValue"
                            [size]="'large'"
                            [theme]="'primary'"
                            [isFullWidth]="sizeService.width() <= 767"
                            (keyup.enter)="joinConference()"
                        ></ui-input>

                        <ui-button
                            [label]="'Join'"
                            [icon]="'fa-solid fa-right-to-bracket'"
                            [size]="'large'"
                            [type]="'primary'"
                            (click)="joinConference()"
                        ></ui-button>
                    </div>
                </div>
            </div>

            <img
                src="/main_image.png"
                alt="PolyVideo Image"
                class="content__image"
            />
        </div>
    </div>
</div>

<ui-notification></ui-notification>
