.auth {
    display: flex;
    width: 100%;
    height: 100dvh;
}

.auth__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    padding: 64px;
}

.auth__background {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.background__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
