.auth {
    display: flex;
    width: 100%;
    height: 100dvh;
}

.auth__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    padding: 64px;
}

@media screen and (max-width: 1199px) {
    .auth__content {
        width: 360px;
        padding: 32px 0 32px 32px;
    }
}

@media screen and (max-width: 767px) {
    .auth__content {
        width: 400px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 575px) {
    .auth__content {
        width: 100%;
        padding: 16px;
        margin: unset;
    }
}

.auth__background {
    position: relative;
    flex: 1;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .auth__background {
        display: none;
    }
}

.background__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}