.notification {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: var(--z-index-2);
    display: flex;
    visibility: hidden;
    gap: 24px;
    align-items: center;
    max-width: 500px;
    padding: 24px 32px;
    border-radius: 16px;
    transform: translateY(calc(100% + 20px));
    transition: transform 0.3s, visibility 0s 0.3s;
}

.notification_visible {
    visibility: visible;
    transform: translateY(0);
    transition: transform 0.3s, visibility 0s;
}

.notification_type_info {
    color: var(--primary-text-color);
    background-color: var(--element-color);
    border: 2px solid var(--background-color);
}

.notification_type_error {
    color: var(--primary-text-color);
    background-color: var(--error-color);
}

.notification__close {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 20px;
    color: var(--primary-text-color);
    cursor: pointer;
}

.notification__icon {
    font-size: 42px;
    color: var(--secondary-color);
}

.notification__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.notification__header {
    padding-right: 8px;
    font-size: 20px;
    font-weight: 600;
}

.notification__message {
    font-size: 18px;
    text-wrap: pretty;
}