.meeting {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
    height: 202px;
    padding: 16px 24px;
    background-color: var(--background-color);
    border-radius: 24px;
}

@media screen and (max-width: 767px) {
    .meeting {
        height: auto;
        padding: 12px 16px;
    }
}

.meeting__information {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

:host ::ng-deep .meeting__title .title {
    display: -webkit-box;
    max-height: 72px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.meeting__last-time-joined,
.meeting__schedule-date {
    display: -webkit-box;
    max-height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 18px;
    font-weight: 400;
    color: var(--primary-text-color);
}
