.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    padding: 16px 24px 24px 32px;
    margin-right: 4px;
    overflow-y: auto;
}

@media screen and (max-width: 991px) {
    .sidebar {
        gap: 12px;
        padding: 12px 16px 16px;
    }
}

.sidebar::-webkit-scrollbar {
    width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: var(--background-color);
    border-radius: 4px;
}

.sidebar::-webkit-scrollbar-track {
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
}

.item__text {
    font-size: 18px;
    color: var(--primary-text-color);
}

.item__status {
    font-weight: 600;
    color: var(--secondary-color);
}