.sidebar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
    padding: 16px 24px 24px 32px;
}

.sidebar__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.sidebar__content::-webkit-scrollbar {
    width: 8px;
}

.sidebar__content::-webkit-scrollbar-thumb {
    background-color: var(--background-color);
    border-radius: 4px;
}

.sidebar__content::-webkit-scrollbar-track {
    background-color: transparent;
}
